ansible==3.1.0
ansible-base==2.10.7
appdirs==1.4.4
apturl==0.5.2
attrs==19.3.0
backcall==0.2.0
bcrypt==3.1.7
blinker==1.4
Brlapi==0.7.0
cached-property==1.5.1
certifi==2019.11.28
cfgv==3.2.0
chardet==3.0.4
chrome-gnome-shell==0.0.0
Click==7.0
colorama==0.4.3
command-not-found==0.3
cryptography==2.8
cupshelpers==1.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
distlib==0.3.1
distro==1.4.0
distro-info===0.23ubuntu1
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
duplicity==0.8.12.0
entrypoints==0.3
fasteners==0.14.1
filelock==3.0.12
flake8==3.9.0
future==0.18.2
httplib2==0.14.0
identify==2.1.4
idna==2.8
importlib-metadata==1.5.0
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==2.11.3
jsonschema==3.2.0
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
louis==3.12.0
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==1.1.0
mccabe==0.6.1
meld==3.20.2
monotonic==1.5
more-itertools==4.2.0
netifaces==0.10.4
nodeenv==1.5.0
oauthlib==3.1.0
olefile==0.46
packaging==20.9
paramiko==2.6.0
parso==0.8.1
persepolis==3.0.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
pre-commit==2.11.1
prompt-toolkit==3.0.17
protobuf==3.6.1
psutil==5.5.1
pycairo==1.16.2
pycodestyle==2.7.0
pycups==1.9.73
pyflakes==2.3.0
Pygments==2.8.1
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.4.7
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.15.5
python-apt==2.0.0+ubuntu0.20.4.5
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
pytz==2019.3
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.3.1
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
setproctitle==1.1.10
simplejson==3.16.0
sip==4.19.21
six==1.14.0
ssh-import-id==5.10
systemd-python==234
texttable==1.6.2
toml==0.10.2
traitlets==5.0.5
ubuntu-advantage-tools==27.0
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
usb-creator==0.3.7
virtualenv==20.4.3
wadllib==1.3.3
wcwidth==0.2.5
websocket-client==0.53.0
xkit==0.0.0
youtube-dl==2020.3.24
zipp==1.0.0
